*{
  margin: 0;
  padding: 0;
}
body{
}

$image_width: 100px;
$image_height: 100px;

#drop_zone{
  background-color: #cccccc;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 2px dashed #777777;
  color: #ffffff;
  font-weight: bold;
}

#image_viewer{

  .image{
    background-color: #ffffff;
    height: $image_height;
    width: $image_width;
  }
}


