* {
  margin: 0;
  padding: 0;
}

#drop_zone{
    background-color: #cccccc;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px dashed #777777;
    color: #ffffff;
    font-weight: bold;
}
